.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row .form-group {
    width: 48%; /* Or use calc(50% - margin). Adjust the margin to your preference */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .register-button {
    background-color: #ffaa00; /* Change the color to match your design */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .register-button:hover {
    background-color: #e69500; /* Darker shade for hover effect */
  }
  
  .login-redirect {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-redirect a {
    color: #0066ff; /* Change the color to match your design */
    text-decoration: none;
  }
  
  .login-redirect a:hover {
    text-decoration: underline;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
  
    .form-row .form-group {
      width: 100%;
    }
  
    .form-group input,
    .register-button {
      padding: 15px;
    }
  }
  .role-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .role-select {
      padding: 15px;
    }
  }
  .role-description {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
  }
  